body {
    margin: 0;
    min-width: 1300px;
}

/* display flex 지정 */
.flex {
    display: flex;
}

/* 글자 왼쪽 고정 */
.text_left {
    text-align: left;
}

/* 글자 오른쪽 고정 */
.text_right {
    text-align: right;
}

/* width 100% */
.width_100 {
    width: 100%;
}

#main_Box {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 주문 상품란 */
#category_Box {
    flex-direction: column;
    text-align: center;
    width: 1200px;
}

#category_Box>span {
    font-size: 24px;
    font-family: NanumGothic;
    font-weight: 600;
    padding: 30px;
}

/* 주문 상품 대제목 */
#category_Header {
    font-family: NanumGothic;
    font-weight: 600;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid black;
}

/* 아래는 defalut 관련 css 임 ! ! ! ! */
/* 주문 상품 Defalut */
#category_Defalut {
    font-family: NotoSansCJKkr;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid gray;
}

/* Defalut 상품명 */
#category_Defalut>div:nth-child(1) {
    width: 450px;
}

/* Defalut 상품금액 */
#category_Defalut>div:nth-child(2) {
    width: 120px;
}

/* Defalut 수량 */
#category_Defalut>div:nth-child(3) {
    width: 50px;
}

/* Defalut 할인 */
#category_Defalut>div:nth-child(4) {
    width: 150px;
}

/* Defalut 할인금액 */
#category_Defalut>div:nth-child(5) {
    width: 100px;
}

/* Defalut 주문금액 */
#category_Defalut>div:nth-child(6) {
    width: 150px;
}

/* Defalut 배송가격 */
#category_Defalut>div:nth-child(7) {
    width: 180px;
}


/* 아래는 inner_Line 관련 css 임 ! ! ! ! */
#category_Inner {
    flex-direction: column;
}

/* inner 메인 */
.category_Inner_Line {
    height: 150px;
    align-items: center;
}

/* inner 상품명 */
.category_Inner_Line>div:nth-child(1) {
    font-family: NotoSansCJKkr;
    width: 450px;
}

.category_Inner_Line>div:nth-child(1)>div {
    width: 300px;
    align-items: center;
}

.category_Inner_Line>div:nth-child(1)>img {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: 20px;
    margin-right: 30px;
}

/* inner 상품금액 */
.category_Inner_Line>div:nth-child(2) {
    width: 120px;
}

/* inner 수량 */
.category_Inner_Line>div:nth-child(3) {
    width: 50px;
}

/* inner 할인 */
.category_Inner_Line>div:nth-child(4) {
    width: 150px;
    align-items: center;
}

.category_Inner_Line>div:nth-child(4)>div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.category_Inner_Line>div:nth-child(4)>button {
    width: 70px;
    font-size: 10px;
    margin-bottom: -20px;
}

/* inner 할인금액 */
.category_Inner_Line>div:nth-child(5) {
    width: 100px;
}

/* inner 주문금액 */
.category_Inner_Line>div:nth-child(6) {
    width: 150px;
}

/* inner 배송가격 */
.category_Inner_Line>div:nth-child(7) {
    width: 180px;
}

/* 배달 관련 comment css */
#delivery_coment {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 12px;
    font-family: NanumGothic;
}

#delivery_coment>span {
    font-family: NanumGothic;
    font-weight: 600;
}

/* 주문서 아래에 있는 결제, 배송정보 전체 박스 */
#sub_Box {
    width: 1200px;
}

/* 배송 정보 css */
#delivery {
    width: 850px;
    font-family: NanumGothic;
    font-weight: 600;
    font-size: 13px;
}

/* 배송정보 헤더 css */
#delivery_header {
    margin: 10px 10px 0px px;
    font-size: 20px;
}

/* 배송정보 큰 틀 box css */
#delivery_Box {
    flex-direction: column;
}

#delivery_Box>span {
    /* 하단 문구 */
    margin-left: 10px;
    margin-top: 4px;
    color: red;
}

/* 배송정보 맨 처음 default 박스들 기본 양식들 */
.delivery_Box_firstLine {
    width: 200px;
    background-color: #F3F3F3;
    align-items: center;
}

.delivery_Box_firstLine>span {
    margin-left: 20px;
}

.under_Bar {
    border-bottom: 1.5px solid rgb(202, 185, 185);
    width: 850px;
}

.margin_20px {
    margin-left: 20px;
}

/* 주문하시는 분 css */
#person_Order {
    border-top: 1px solid black;
    height: 130px;
}

#person_Order>div:nth-child(2) {
    flex-direction: column;
    justify-content: center;
}

#person_Order>div:nth-child(2)>div {
    margin: 10px;
    margin-left: 20px;
}

#person_Order>div:nth-child(2)>div:nth-child(1)>label {
    margin-left: 10px;
    align-items: center;
}

/* 배송지 선택 */
#delivery_Address {
    height: 60px;
}

#delivery_Address>div:nth-child(2) {
    justify-content: center;
    align-items: center;
}

#delivery_Address>div:nth-child(2)>label {
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#delivery_Address_Btn {
    width: 90px;
    height: 25px;
    background-color: white;
    border: 2px solid rgb(202, 185, 185);
    cursor: pointer;
    font-size: 12px;
    font-family: NanumGothic;
    font-weight: 600;
}

#delivery_Address_Btn:hover {
    background-color: rgb(202, 185, 185);
}

/* 배송지명 */
#delivery_Name {
    height: 90px;
}

#delivery_Name>div:nth-child(2) {
    flex-direction: column;
    justify-content: center;
}

#delivery_Name>div:nth-child(2)>div:nth-child(1) {
    /* 배송지명 1번째 div 요소 */
    margin-bottom: 12px;
}

#delivery_Name>div:nth-child(2)>div:nth-child(1)>input[type="text"] {
    /* 배송지명 1번째 div 요소안 text label */
    border: 1px solid rgb(202, 185, 185);
    height: 25px;
    padding-left: 10px;
}

#delivery_Name>div:nth-child(2)>div:nth-child(1)>label {
    /* 배송지명 1번째 div 요소안 라디오 label */
    justify-content: center;
    align-items: center;
}

.defalut_Delivery_Check {
    margin-left: 10px;
}

/* 받으시는 분 */
#person_Receiver {
    height: 260px;
}

#person_Receiver>div:nth-child(2) {
    flex-direction: column;
    justify-content: center;
}

#person_Receiver>div:nth-child(2)>div {
    margin: 7px;
    margin-left: 0px;
    align-items: center;
}

#person_Receiver>div:nth-child(2)>div>span {
    width: 100px;
    display: inline-block;
}

#person_Receiver>div:nth-child(2)>div>input {
    /* input 전체 요소 */
    border: 1px solid rgb(202, 185, 185);
    height: 25px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(1)>input {
    /* 이름 적는 란 */
    width: 240px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(1)>label {
    align-items: center;
    margin-left: 10px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(2)>select {
    /* 전화번호(선택) */
    width: 88px;
    height: 25px;
    border: 1px solid rgb(202, 185, 185);
    padding-left: 4px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(2)>input {
    /* 전화번호 */
    width: 71px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(3)>select {
    /* 휴대폰 번호(선택) 란 */
    width: 88px;
    height: 25px;
    border: 1px solid rgb(202, 185, 185);
    padding-left: 4px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(3)>input {
    /* 휴대폰 번호 란 */
    width: 71px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(4) {
    /* 받으실 주소 */
    align-items: center;
}

#person_Receiver>div:nth-child(2)>div:nth-child(4)>input {
    /* 우편 번호 적는 란 */
    width: 120px;
    padding-left: 7px;
    margin-right: 2px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(4)>button {
    /* 주소 찾기 버튼 */
    border: 2px solid rgb(202, 185, 185);
    height: 25px;
    width: 80px;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    font-family: NanumGothic;
    font-weight: 600;
}

#person_Receiver>div:nth-child(2)>div:nth-child(4)>button:hover {
    background-color: rgb(202, 185, 185);
}

#person_Receiver>div:nth-child(2)>div:nth-child(5)>input {
    /* 배송지 기본주소 */
    padding-left: 7px;
    margin-right: 10px;
    width: 420px;
}

#person_Receiver>div:nth-child(2)>div:nth-child(6)>input {
    /* 배송지 상세주소 */
    padding-left: 7px;
    margin-right: 10px;
    width: 420px;
}

/* 배송메세지 */
#delivery_Msg {
    height: 60px;
}

#delivery_Msg>div:nth-child(2) {
    flex-direction: column;
    justify-content: center;
}

#delivery_Msg>div:nth-child(2)>select {
    border: 1.9px solid rgb(202, 185, 185);
    width: 440px;
}

#delivery_Msg_Direct {
    width: 440px;
    margin-top: 5px;
}

/* 총 배송비 */
#delivery_fee {
    height: 60px;
}

#delivery_fee>div:nth-child(2) {
    justify-content: center;
    align-items: center;
}

/* 결제수단 칸*/

#payment_Box {
    width: 850px;
    flex-direction: column;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

#payment_Header {
    /* 결제수단 헤더 */
    margin-top: 20px;
    margin-bottom: 20px;
}

#payment_Btn_Box {
    flex-direction: column;
    margin-bottom: 40px;
}

.payment_Btn {
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 2px solid gray;
    border-radius: 9px;
    background-color: white;
    font-family: NotoSansCJKkr;
    font-weight: 600;
    cursor: pointer;
}

/* 최종결제정보 창 */
#buyBtnBox {
    border: 2px solid rgb(85, 80, 80);
    width: 260px;
    height: 330px;
    margin-left: 70px;
    margin-top: 130px;
    font-family: NanumGothicBold;
    font-size: 12px;
    justify-content: center;
}

#buyBtnBox>div {
    width: 215px;
    flex-direction: column;
}

/* 헤더 부분 */
#buyBtnBox>div {
    text-align: right;
}

#btnBoxHeader {
    display: inline-block;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
}

#buyBtnBox>div>div {
    text-align: left;
}

#buyBtnBox>div>div:nth-child(2) {
    flex-direction: column;
    justify-content: center;
    border-top: 2px double rgb(85, 80, 80);
    border-bottom: 1px solid black;
}

#buyBtnBox>div>div:nth-child(2)>div {
    margin-left: 7px;
    width: 208px;
    justify-content: space-between;
    margin-top: 12px;
}

#buyBtnBox>div>div:nth-child(2)>div:nth-child(1) {
    margin-top: 18px;
}

#buyBtnBox>div>div:nth-child(2)>div:nth-child(4) {
    margin-bottom: 15px;
}

#buyBtnBox>div>div:nth-child(3) {
    margin-top: 15px;
}

#buyBtnBox>div>div:nth-child(3)>label>span {
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    line-height : 13px;
}

#buy_Agree[type="checkbox"]{
    display: none;
}

#buy_Agree_Check {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
    color: #9da3a5;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    color: gray;
    font-size: 26px !important;
}

#buy_Agree:checked + #buy_Agree_Check{
    color: rgb(224, 104, 23);
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

#buy_Button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 0px;
    font-family: NanumGothicExtraBold;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(224, 104, 23);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}