<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../js/menu_detail.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="../css/menu_detail.css">
        <link rel="stylesheet" href="../css/common.css">
        <title>Ground</title>
    </head>
    <body>
        <div class="container">
            <div class="item_info_wrap">
                <div class="item_image_wrap">
                    <div class="item_image">
                        <div class="button_before">
                            <div></div>
                        </div>
                        <img src="../image/dummy_data/panda2.jpg" alt="">
                        <div class="button_after">
                            <div></div>
                        </div>
                    </div>
                    <div class="imgae_index">
                        <div class="select" index="1"></div>
                        <div index="2"></div>
                        <div index="3"></div>
                    </div>
                </div>
                <div class="item_info">
                    <div class="category_name">COFFEE</div>
                    <div class="item_name">판다1</div>
                    <div class="price">20,000</div>
                    <select name="item_size">
                        <option value="">사이즈를 선택해 주세요.</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                    </select>
                    <div class="button_wrap">
                        <button>장바구니</button>
                        <button>바로주문하기</button>
                    </div>
                    <!-- 아래 내용들은 페이지 불러올때 span 요소 안에 있는 데이터들 -->
                    <div class="review_info"><span>★★★★★</span> <span>0</span> Reviews</div>
                    <!-- 추후 table로 변환 -->
                    <div class="delivery_fee">배송비&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span> 원</div>
                    <div class="mileage">마일리지&nbsp;&nbsp;<span>0</span>% 적립</div>
                    <div class="delivery_fee">포인트&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span>% 적립</div>
                </div>
            </div>
            <div class="other_item_wrap">
                <div class="other_item"></div>
            </div>
            <div class="item_detail">
                
            </div>
        </div>
    </body>
</html>