<html>
    <head>
        <meta charset="utf-8">
        <title>menu</title>
        <script type="text/javascript" src="../js/menu.js"></script>
        <link rel="stylesheet" href="../css/menu.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        <div class="header">
            <div class="tap_name_wrap">
                <div class="tap_name">MENU</div>
            </div>
            <div class="category">
                <div class="active">COFFEE</div>
                <div>TEA</div>
                <div>FOOD</div>
            </div>
        </div>
        <div class="container">
            <div class="item_container">
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
                <div class="item_wrap" name="상품이름">
                    <img src="../image/dummy_data/panda1.jpg" alt="">
                    <div class="item_name">판다1</div>
                    <div class="item_name_english">Panda1</div>
                </div>
            </div>
        </div>
    </body>
</html>