<html>

<head>
    <meta charset="utf-8">
    <title>Ground</title>
    <script type="text/javascript" src="../js/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="../js/my_page.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/my_page.css">
</head>

<body>
    <div id="main_Container" class="flex">
        <span>
            MY PAGE
        </span>
        <div>
            <table>
                <tr id="user_Grade" class="font">
                    <td>회원등급</td>
                    <td>GOLD</td>
                    <td>포인트</td>
                    <td>0P</td>
                </tr>
                <tr id="user_Benefits" class="font">
                    <td>등급혜택</td>
                    <td>
                        <ul >
                            <li>0% 할인</li>
                            <li>포인트 적립</li>
                            <li>응애</li>
                            <li>응애</li>
                        </ul>
                    </td>
                    <td>쿠폰</td>
                    <td>0개</td>
                </tr>
            </table>
            <table>
                <tr id="user_Delivery" class="font">
                    <td>배송현황</td>
                    <td>
                        <div id="delivery_Box" class="flex">
                            <div class="flex column">
                                <img src="../image/11.png" alt="">
                                <span>입금 확인중</span>
                                <span>0<span>건</span></span>
                            </div>
                            <span>></span>
                            <div class="flex column">
                                <img src="../image/15.png" alt="">
                                <span>결제완료</span>
                                <span>0<span>건</span></span>
                            </div>
                            <span>></span>
                            <div class="flex column">
                                <img src="../image/13.png" alt="">
                                <span>상품 준비중</span>
                                <span>0<span>건</span></span>
                            </div>
                            <span>></span>
                            <div class="flex column">
                                <img src="../image/14.png" alt="">
                                <span>배송중</span>
                                <span>0<span>건</span></span>
                            </div>
                            <span>></span>
                            <div class="flex column">
                                <img src="../image/12.png" alt="">
                                <span>배송완료</span>
                                <span>0<span>건</span></span>
                            </div>
                            <div id="change_Box" class="flex column">
                                <div class="flex">
                                    <img src="" alt="">
                                    <span>취소</span>
                                    <span>0<span>건</span></span>
                                </div>
                                <div class="flex">
                                    <img src="" alt="">
                                    <span>교환</span>
                                    <span>0<span>건</span></span>
                                </div>
                                <div class="flex">
                                    <img src="" alt="">
                                    <span>반품</span>
                                    <span>0<span>건</span></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="user_Category" class="font">
                    <td>마이페이지<br>카테고리</td>
                    <td>앙</td>
                </tr>

            </table>

        </div>
    </div>
</body>

</html>