<html>

<head>
    <meta charset="utf-8">
    <title>Ground</title>
    <script type="text/javascript" src="../js/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="../js/order.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/order.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <div id="main_Box" class="flex">
        <div id="category_Box" class="flex">
            <span>주문서</span>
            <div>
                <div id="category_Header" class="width_100 text_left">
                    주문상품
                </div>
                <div id="catergory">
                    <div id="category_Defalut" class="flex">
                        <div>상품명/선택사항</div>
                        <div>상품금액</div>
                        <div>수량</div>
                        <div>할인</div>
                        <div>할인금액</div>
                        <div>주문금액</div>
                        <div>배송정보</div>
                    </div>
                    <div id="category_Inner" class="flex">
                        <div class="category_Inner_Line flex">
                            <div class="flex">
                                <img src="" alt="">
                                <div class="text_left flex ">아메리카노<br>ICE</div>
                            </div>
                            <div>0원</div>
                            <div>0</div>
                            <div style="flex-direction: column;" class="flex">
                                <div>할인</div>
                                <button class="coupon_btn">쿠폰선택</button>
                            </div>
                            <div>0원</div>
                            <div>0원</div>
                            <div>무료</div>
                        </div>
                    </div>
                </div>
                <div id="delivery_coment" class="text_left">
                    *배송업체별로 상품이 발송될 예정이며, 매장출고 상품이거나 재고상황에 따라 부분 배송이 될 수 있습니다. <span>마이페이지 > 주문배송조회</span>에서 업체별로 등록된
                    운송장을 통해 확인할 수 있습니다.
                </div>
            </div>
        </div>
        <!-- 여기서부터 나눠야함 -->
        <div id="sub_Box" class="flex">
            <div id="delivery_Payment_Box">
                <div id="delivery">
                    <div>
                        <div class="text_left" id="delivery_header">배송정보</div>
                        <div id="delivery_Box" class="flex">
                            <div id="person_Order" class="flex under_Bar">
                                <div class="delivery_Box_firstLine flex">
                                    <span>주문하시는 분</span>
                                </div>
                                <div class="flex">
                                    <div class="flex">
                                        <span>이성빈</span>
                                        <!-- <label class="flex"><input type="checkbox" id="person_Order_btn"><span>주문자 정보변경</span></label> -->
                                    </div>
                                    <div class="flex">
                                        <span>a68771796@gmail.com</span>
                                    </div>
                                    <div class="flex">
                                        <span>01068771796</span>
                                    </div>
                                </div>
                            </div>
                            <div id="delivery_Address" class="flex under_Bar width_850">
                                <div class="delivery_Box_firstLine flex">
                                    <span>배송지 선택</span>
                                </div>
                                <div class="flex">
                                    <label class="flex"><input type="radio" name="Choose"
                                            class="margin_20px"><span>기존배송지</span></label>
                                    <label class="flex"><input type="radio" name="Choose"><span>새로운배송지</span></label>
                                    <button id="delivery_Address_Btn">배송지목록</button>
                                </div>
                            </div>
                            <div id="delivery_Name" class="flex under_Bar width_850">
                                <div class="delivery_Box_firstLine flex">
                                    <span>*배송지명</span>
                                </div>
                                <div class="flex">
                                    <div class="flex">
                                        <input type="text" class="margin_20px" placeholder="배송지명을 입력해 주세요.">
                                        <label class="flex"><input type="checkbox" class="defalut_Delivery_Check">기본배송지로
                                            설정</label>
                                    </div>
                                    <div>
                                        <span class="margin_20px">*10자 이내로 입력해 주세요</span>
                                    </div>
                                </div>
                            </div>
                            <div id="person_Receiver" class="flex under_Bar width_850">
                                <div class="delivery_Box_firstLine flex">
                                    <span>*받으시는 분</span>
                                </div>
                                <div class="flex">
                                    <div class="flex">
                                        <span class="margin_20px">이름</span>
                                        <input type="text">
                                        <label class="flex"><input type="checkbox">주문하시는 분과 동일</label>
                                    </div>
                                    <div class="flex">
                                        <span class="margin_20px">전화번호(선택)</span>
                                        <select name="tel_Fisrt_Number" id="">
                                            <option value="">선택</option>
                                            <option value="02">02</option>
                                            <option value="031">031</option>
                                            <option value="032">032</option>
                                            <option value="033">033</option>
                                            <option value="041">041</option>
                                            <option value="042">042</option>
                                            <option value="043">043</option>
                                            <option value="051">051</option>
                                            <option value="052">052</option>
                                            <option value="053">053</option>
                                            <option value="054">054</option>
                                            <option value="055">055</option>
                                            <option value="061">061</option>
                                            <option value="062">062</option>
                                            <option value="063">063</option>
                                            <option value="064">064</option>
                                            <option value="070">070</option>
                                        </select>
                                        -
                                        <input type="text">
                                        -
                                        <input type="text">
                                    </div>
                                    <div class="flex">
                                        <span class="margin_20px">휴대폰 번호</span>
                                        <select name="Phone_First_Number" id="">
                                            <option value="">선택</option>
                                            <option value="010">010</option>
                                            <option value="011">011</option>
                                            <option value="016">016</option>
                                            <option value="017">017</option>
                                            <option value="018">018</option>
                                            <option value="019">019</option>
                                        </select>
                                        -
                                        <input type="text">
                                        -
                                        <input type="text">
                                    </div>
                                    <div class="flex">
                                        <span class="margin_20px">받으실 주소</span>
                                        <input type="text" placeholder="우편번호" disabled="true">
                                        <button>주소찾기</button>
                                    </div>
                                    <div class="flex">
                                        <span></span>
                                        <input type="text" placeholder="배송지 기본주소" disabled="true" class="margin_20px">
                                    </div>
                                    <div class="flex">
                                        <span></span>
                                        <input type="text" placeholder="배송지 상세주소" class="margin_20px">
                                    </div>
                                </div>
                            </div>
                            <div id="delivery_Msg" class="flex under_Bar width_850">
                                <div class="delivery_Box_firstLine flex">
                                    <span>배송메세지</span>
                                </div>
                                <div class="flex">
                                    <select name="delivery_Msg_Select" id="delivery_Msg_Select" class="margin_20px">
                                        <option value="">선택해주세요</option>
                                        <option value="">경비실에 넣어주삼</option>
                                        <option value="">밖에 놔주삼</option>
                                        <option class="" value="direct">직접입력</option>
                                    </select>
                                    <input type="text" id="delivery_Msg_Direct" name="delivery_Msg_Direct"
                                        class="margin_20px">
                                    <!-- 나중에 예외처리 할때, 선택 안되어 있는거(defalut) 직접입력을 눌렀는데 공백인것에 대한 예외처리 꼭 해야함 ! ! -->
                                </div>
                            </div>
                            <div id="delivery_fee" class="flex under_Bar width_850">
                                <div class="delivery_Box_firstLine flex">
                                    <span>총 배송비</span>
                                </div>
                                <div class="flex">
                                    <span class="margin_20px">0원</span>
                                </div>
                            </div>
                            <span>* 디지털 상품권/티켓정보는 입력된 휴대폰으로 전송됩니다.</span>
                        </div>
                    </div>

                </div>
                <div id="payment">
                    <div id="payment_Box" class="flex">
                        <span class="text_left" id="payment_Header">
                            결제 수단
                        </span>
                        <div id="payment_Btn_Box" class="flex">
                            <div>
                                <button class="payment_Btn" id="credit_Card">신용카드</button>
                                <button class="payment_Btn" id="live_Aaccount">실시간 계좌이체</button>
                                <button class="payment_Btn" id="no_Bankbook">무통장 입금</button>
                                <button class="payment_Btn" id="phone_Payment">휴대폰 결제</button>
                            </div>
                            <div>
                                <button class="payment_Btn" id="tossPay">토스페이</button>
                                <button class="payment_Btn" id="naverPay">네이버페이</button>
                                <button class="payment_Btn" id="payco">PAYCO</button>
                                <button class="payment_Btn" id="kakaoPay">카카오페이</button>
                            </div>
                        </div>
                        <div id="payment_Installment_Select">
                            <div>
                                <span></span>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buyBtnBox" class="flex">
                <div class="flex">
                    <span id="btnBoxHeader">최종결제정보</span>
                    <div class="flex">
                        <div class="flex">
                            <span>상품금액</span><span class="text_right">0원</span>
                        </div>
                        <div class="flex">
                            <span>쿠폰/할인금액</span><span>0원</span>
                        </div>
                        <div class="flex">
                            <span>포인트</span><span>0원</span>
                        </div>
                        <div class="flex">
                            <span>배송비</span><span>0원</span>
                        </div>
                    </div>
                    <div>
                        <label class="flex"><input type="checkbox" id="buy_Agree"><span class="material-symbols-outlined" id="buy_Agree_Check">check_circle</span><span>주문하실상품,가격,배송정보,<br>할인정보등을 확인하였으며<br> 구매에 동의하십니까?<br>(전자상거래법 제8조 제2항)</span></label>
                    </div>
                    <button id="buy_Button">
                        구매하기
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<style>