<html>
    <head>
        <meta charset="utf-8">
        <title>Ground</title>
        <script type="text/javascript" src="../JS/sign_in.js"></script>
        <link rel="stylesheet" href="../CSS/sign_in.css">
        <link rel="stylesheet" href="../CSS/common.css">
    </head>
    <body class="flex">
        <div id="main_Box" class="flex">
            <div id="sign_Logo"><img src="../Image/ground_logo.png" alt="임시"></div>
            <div id="sign_Box" class="flex">
                <div id="ID">
                    <input type="text" placeholder="아이디">
                </div>
                <div id="password">
                    <input type="password" placeholder="비밀번호">
                </div>
                <div>
                    <button id="Login">로그인</button>
                </div>
                <div class="flex">
                    <div id="sign_Up">
                        <span>회원가입</span>
                    </div>
                    <div id="sign_Find">
                        <span>아이디 /</span><span> 비밀번호 찾기</span>
                    </div>
                </div>
                <div id="bar">
                </div>
                <div id="easy_Login" class="flex">
                    <div>
                        <span>간편 로그인</span>
                    </div>
                    <div id="google" class="flex">
                        <img src="../Image/sing_in/google_logo.png" alt="">
                        <span>구글로 로그인하기</span>
                    </div>
                    <div id="kakao" class="flex">
                        <img src="../Image/sing_in/kakao_logo.png" alt="">
                        <span>카카오로 로그인하기</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>